{% extends 'base.html.twig' %}

{% block title %}{{ firstname }} {{ lastname }}{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <h1>
            Hallo, <span {{ react_component('InlineInput', { 'fieldTitle': 'Vorname', 'fieldName':  'firstname', 'fieldValue': firstname}) }}>Vorname</span> <span {{ react_component('InlineInput', { 'fieldTitle': 'Nachname', 'fieldName':  'lastname', 'fieldValue': lastname}) }}>Nachname</span>
        </h1>
    </div>
{% endblock %}
