.profile {
    &__head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        &__status {
            height: 100%;
            display: flex;
            align-items: center;
        }
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        &__right, &__left {
            display: flex;
            gap: 16px;
        }
    }
}
